@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HealthCloud - Серверная часть курсовой работы </h1>
    <p>Подготовили: Группа БСТ-18-01, Вторая бригада</p>
</div>
